PAGE_ACCESS_TOKEN=
VERIFY_TOKEN=
APP_SECRET=
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash-lite
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
GOOGLE_SHEET_ID=1qkWnE0y3c_zkzYs6JTPyA9Ck_LbOdSPY2yGs4sxssLU
GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbwmv98n24_tlwO3RaEGXVxP6Q0awtTya1SwpzA4asOnBylsFI7ljjnsXmmTXmt5RxMr/exec
GOOGLE_APPS_SCRIPT_SECRET=uk_brand_lover_sheet_secret_2026
PORT=3000
